@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Styling the nav bar */

.nav {
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h3 {
    color: black;
    padding: 10px;
}

.nav ul {
    padding: 20px;
    background-color: crimson;
    border-radius: 57px;
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    padding: 25px;
    font-size: 17px;
}

/* Styling the Category Section */

.category{
    background-color: rgba(220, 20, 60, 0.127);
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
}
.category_heading {
    font-family: 'Montserrat', sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category_items {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;

}

.category_items::-webkit-scrollbar {
    height: 4px;
}

.category_items::-webkit-scrollbar-track {
    background-color: rgba(239, 233, 233, 0.686);
    border-radius: 100%;

}

.category_items::-webkit-scrollbar-thumb {
    background-color: crimson;
    border-radius: 100vw;
}
.category_items_box p{
    text-align: center;
    padding: 10px;
}
.category_items_box a{
    text-decoration: none;
}
.circle {
    background-color: #cccccc;
    margin: 25px;
    margin-bottom: 0px;
    min-width: 80px;
    height: 80px;
    border-radius: 100%;
}
.circle img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}